<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Atarikafa_Launcher.local" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Atarikafa_Launcher.local>
            <setting name="uname" serializeAs="String">
                <value />
            </setting>
            <setting name="ram" serializeAs="String">
                <value>2048</value>
            </setting>
            <setting name="ip" serializeAs="String">
                <value />
            </setting>
        </Atarikafa_Launcher.local>
    </userSettings>
</configuration>